<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>SYOS Retail Management System</display-name>
    <description>Multithreaded web application for SYOS grocery store management</description>

    <!-- Context Parameters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:application.properties</param-value>
    </context-param>

    <!-- Application Lifecycle Listener -->
    <listener>
        <listener-class>com.syos.web.listener.ApplicationContextListener</listener-class>
    </listener>

    <!-- Session Listener -->
    <listener>
        <listener-class>com.syos.web.listener.SessionListener</listener-class>
    </listener>

    <!-- Encoding Filter - Must be first -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.syos.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Security Filter -->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.syos.web.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Request Logging Filter -->
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>com.syos.web.filter.RequestLoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/error/error.jsp</location>
    </error-page>

    <!-- MIME Mappings -->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>

    <!-- JSP Configuration -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/views/common/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

</web-app>
